[package]
name = "bfes"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
safer-ffi = "0.0.10"
rand = "0.8.5"